<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>README</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
       <style>
           .markdown-body {
               padding: 15px;
           }
       </style>
   </head>
   <body>
       <div class="markdown-body">{{ content|safe }}</div>
   </body>
   </html>